.single-product {
  padding: 5px;
  border: 1px solid rgb(163, 140, 140);
  border-radius: 10px;
  position: relative;
}

.single-product img {
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 10px;
}

.product-highlight {
  margin: 10px 0;
}
.product-info {
  margin: 10px 0;
}

.cart-btn {
  margin: 50px 0px 0px 0px;
}

.single-product button {
  padding: 10px 0;
  background-color: #ffe0b3;
  color: #00080e;
  border: 1px solid aliceblue;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 0px 10px 10px;
}
