/* header component style */

header {
  height: 80px;
  background-color: #1c2b35;
  color: #ffffff;
  padding: 0 5rem;
}

/* nav-bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a img {
  max-width: 100%;
  margin: 10px 0;
}

nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
